$color:Brown;
$marginLeft:20px;

h3 {
    text-align:left;
    color: $color;
    margin: $marginLeft;
    padding: 20px;
}

h5 {
    margin: $marginLeft;
}

#mainParaph {
    margin: $marginLeft;
}

body {
    background-color: antiquewhite;
}

ol {
    margin: $marginLeft;
}

.listTitle {
    margin-left: $marginLeft;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table {
    border: 2px black solid;
    display: table;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

tr,td,th {
    border: 1px black solid;
    padding: 10px;
}

td[class=price],th[class=price] {
    text-align: center;
}

.info::before {
    content: "\2192  "
}