$color:Brown;
$marginLeft:20px;

%backimage {
    background-image:url(back.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-size: cover;
}

h3 {
    text-align:left;
    color: $color;
    margin: $marginLeft;
    padding: 20px;
}

h5 {
    margin: $marginLeft;
}

#mainTopic {
    margin: $marginLeft;
    color: $color;
    font-size: 30px;
    font-weight: bold;
}

body {
    @extend %backimage;
}

ol {
    margin: $marginLeft;
}

.listTitle {
    margin-left: $marginLeft;
    font-weight: bold;
    font-size: 20px;
}

.main li {
    color: chocolate;
}

img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

table {
    border: 2px black solid;
    display: table;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
    
}

tr,td,th {
    border: 1px black solid;
    padding: 10px;
}

td[class=price],th[class=price] {
    text-align: center;
}

.info::before {
    content: "\2192  ";
}

.info {
    font-size: 25px;
    color:crimson;
}

a:visited {
    color: blueviolet;
}

.lists {
    li {
        color:darkred;
        font-size: 25px;
    }
}

@media (max-width:500px) {
    .info {
        font-size: 20px;
        font-style: italic;
    }
}